<div id = "songs_table_container">
	<table id = "songs_table">
		<tr class = "songs_table_row">   
		</tr>
			<% @order_number = 0 %>
			<% songs.each do |song| %>
				<% if song.id.present? %>
					<% @order_number += 1 %>
					<%= render 'songs/song_cell', song: song, order_number: @order_number %>
				<% end %>
			 <% end %>
	</table>
</div>