<tr class = "song_cell">
	  <td><%= order_number %>.</td>
      <td>
      	<span class = "artist">
      		<%= song.artist %>
      	</span> - 
      	<span class = "title">
      		<%= song.title  %>,
      	</span>
      	<span class = "album">
      		<%= song.album  %>
      	</span>
      </td>   
</tr>