// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#songs_table {
	tr{
	   opacity: 1;
	   transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
	   -webkit-transition: opacity .25s ease-in-out;

	   &:hover {
	      opacity: 0.5;
	    }
	 }
	.artist {
			font-weight: 900;
	}

	.title {
			font-weight: bold;
	}

	.album {
			font-style: italic;
	}
}