<div id = "show_description_container" class = "draggable box" >
	<div class = "box_header"> 
		<p>
			<%= show.title %>
		</p>
	</div>
	<p class = "show_description">
		<%= show.description %>
	</p>
</div>