<div id = "show_nav_container" class = "draggable box" >
	<div class = "box_header"> 
	</div>
	<span id="shows_link" class = "show_nav_link">
        <a href=<%= @show.link_to_soundcloud %>>soundcloud</a>
    </span>
   	<span id="home_link" class = "show_nav_link">
    	<a href=<%= @show.link_to_newtown_radio %>>Archive on Newtown Radio</a>
    </span>  
            <%= fa_icon "soundcloud" %>
  
  </div>
</div>